*
{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    

}
body{background-color: rgb(189, 189, 189);
    margin-top:100px; 
    position: relative;

}



.li{
    display: flex;
}
header {
    position: relative;
    display: block;
    font-family: 'Oswald', sans-serif;
    text-decoration: none;
    height: 70px;
    background-color: black;   
    align-content: center;
    z-index: 1;
    position:fixed;
    width: 100%;
    top: 0;
   
}

.coleccionextended{
    display: inline-block;
    position: relative;
    
}
.coleccionesextendido{
    background-color: #ffffff;
    height: 313px;
    width: 200%;
    position: absolute;
    left: -10px;
    top: 30px;
    border-radius: 15px;
    display: none;
  
   
   
}
.coleccionspace{
    background-color: #00ff484e;
    height:111px;
    width: 101%;
    top:0px;
    left: -1px;
    border-radius: 15px;
    position: re;
    display: none;
    
  
   
    

}
.coleccionesextendidoactivo{
    display: inline-block;
   

}
.acoleccioness{
    margin-left: 15px;
    font-size: 20px;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;pointer-events: fill;
}


.licoleccionesextendido{
    margin-left: 0;
    padding-top: 12px;
    padding-bottom: 8px;
    
    
    
}
.navextendido{
    
}

.a11{
    font-family: sans-serif;
    font-weight:650;
    font-size: 15px;
    color: rgb(225, 225, 225);
    text-decoration: none;
    transition: all 0.5s ease 0s;
    
    
}

li, .a1{
    font-family: sans-serif;
    font-weight:650;
    font-size: 15px;
    color: rgb(225, 225, 225);
    text-decoration: none;
    transition: all 0.5s ease 0s;
    margin-left: 40px;
}

.divnavi{
     display: flex;
     justify-content: space-between;
     align-items: center;
     height: 70px;
     padding-left: max(30px,3.33%);
     padding-right: max(30px,3.33%);
     
     
}


button{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    font-size:17.5px;
}

.pre-logo-svg{
    height: 60px;
    cursor: pointer;

}


.navilinks {
    list-style: none;
    font-weight: 1000;
    display: flex;

    
    
    
}




.navilinks li a{
    transition: all 0.3s ease 0s;
}

.navilinks li a:hover{
    color: RGB(191, 49, 249)
}

.cta2-1{
    padding: 9px 25px;
    background-color: rgb(191, 49, 249);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    margin-top: 15px; 
}
.cta2-1:hover{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);

    

}
.cta2-2{
    padding: 9px 25px;
    background-color: RGB(189, 75, 75);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    margin-top: 15px;
    
}
.cta2-2:hover{
    background-color: rgb(0, 0, 0);
    
}
.pn{
    padding-bottom: 10px;
}
.cta2-3{
    padding: 9px 25px;
    background-color: rgb(189, 75, 75);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-top: 15px;
    margin-left: 5px;
}
.cta2-3:hover{
    background-color: black;
    
}

.cta1-1:hover{
    color: rgb(27, 27, 27);
    background-color: rgb(167, 167, 167);
}

.divprincipal{
    display: flex;
    margin: 30px 2% 0px;
    justify-content:space-evenly;
    height: 100%;
}
.div2{
display: flex;
height: 100%;

}
@media(max-width:720px){
    .div2{
        display: block;
    }}
    @media(max-width:720px){
        .div4{
            margin-top: 50px;
        }}
.div3{
    display: block;padding-right: 6px;
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    
}
h2{font-family: 'Oswald', sans-serif;
    font-size: 50px;
    font-weight: 1000;
    margin-top: -15px;

}
.div3-2,.div4-2{padding-top: 20px;
}
.div4{
    display: inline-block;
    position: relative;
    padding-left: 6px;
}

.img1{
    width: auto !important;
  height: auto !important;
  max-width: 100%;
  border-radius: 30px;
  cursor: pointer ;


}
.img2{
    width: auto !important;
  height: auto !important;
  max-width: 100%;
  border-radius: 30px;
  cursor: pointer ;
}

.divprincipal-2{
    display: flex;
    justify-content: center;
    margin: 30px 2% 0px;
}
.divprincipal-3{
    display: flex;
    margin: 30px 2% 0px;
    justify-content:space-evenly;
    height: 100%;
}
.div5-1{
    
    position: relative;
}
.div5-2{
    position: absolute;
    bottom: 7% ;
    left: 3%;
    display: block;
    max-width: 50%;
    text-size-adjust:100%; 
}
@media(max-width:890px){
    .div5-2{
         position: relative;
         bottom: 0;
         left: 0;
         display: inline-block;
         max-width: 100%;
         
    }}
    @media only screen and (max-width:890px){
        .div5-2 .div5-2-h2{color: black;
                     font-size: 50px;
                     font-weight: 1000;
        }
    }
    @media (max-width:890px){
        .div5-2 .div5-2-p{color: black;
            margin-top: 20px;

        }
    }
    @media (max-width:890px){
        .div5-2 .buttom1{margin-top: 15px;


        }
    }
    @media (max-width:890px){
      .cta2-1, .cta2-2,.cta2-3,.buttom1{margin-bottom: 30px;


        }
    }

.div5-1 .img5{
    width: auto !important;
  height: auto !important;
  max-width: 100%;
  border-radius: 30px;



} 
.div5-2-p{
    color: #ffffff;
    display: block;
    font-family: 'Roboto Condensed', sans-serif;
    
}   
           
.div5-2-h2{
    font-size: 80px;
    color: rgb(255, 255, 255);
    font-family: 'Oswald', sans-serif;
    
   
}
.ul2{
    list-style-type: none;
  margin: 0;
  padding: 0;
}
.coleccionesul{
    list-style-type: none;
  z-index: 2;
  padding: 0;
  
}
.licolecciones{
    margin-left: 0;
    margin-bottom: 18px;
}
.acolecciones{
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
   cursor: pointer;
    padding-left: 30px;
    transition: all 0.1s ease 0s;
}
.acolecciones:hover{
    color: #b9b9b9;
}
.coleccionetext{

}
.buttom1{
    background-color: rgb(0, 0, 0);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    list-style-type: none;
  padding: 9px 25px;
  margin-top: 20px;
    
}
.buttom1:hover {
    background-color: white;
    color: black;
}




.cta2-2-2{
    background-color: RGB(29, 69, 103);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    list-style-type: none;
  padding: 9px 25px;
  margin-top: 20px;
  margin-right: 7px;
}
.cta2-1-1{
    background-color: rgb(132, 62, 46);
    border: none;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    list-style-type: none;
  padding: 9px 25px;
  margin-top: 20px;
  margin-right:7px ;
}
.cta2-1-1:hover{
    background-color: black;
}
.cta2-2-2:hover{
    background-color: black;
}

footer{
    display: flex;
    width: 100%;
    background-color: RGB(16, 17, 16);
    height: 300px;
    margin-bottom: 15px;
    margin-top: 25px;
    position: relative;
    justify-content: center;
    
    
    
    

    
}
.divfooter{
    display: inline-block;
    width: 1800px;
    height: auto;
    margin-left: 30px;
    margin-right: 30px;
    margin-top:40px;
    margin-bottom: auto;
    
    
}
.divfooter1{
    display: flex;
    justify-content: space-between;

}

.divfooter2{
    display: flex;
    height:200px;
    justify-content: start;
    position: relative;
    
}

.divfooter2-1{
    display: inline-block;

    height: 100%;
}

.divfooter2-1-1{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.divfo{
    display:flex;

}
.divfo2{
    margin-left: 10px;
}
.ulfooter1{
    display: inline-block;
    list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 80%;
  
}
.li1{
    padding-bottom: 15px;
    text-decoration: none;
    margin: 0px;
    
}
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 9px;
}
.divfooter2-3{
    display: inline-block;
   
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.ACnike{
    color:white;
    margin-bottom: 5px;
    font-size: 12px;
}

.li2{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 5px;
    font-weight: 100;
    color: rgb(0, 0, 0);
    height: 100%;
    
}
.ani{
    color: rgb(103, 103, 103);
    font-size: 12px;
}
.al1{
    font-size: 11px;
    width: 70%;
}
.arg1{
    display: flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    
}
.arg1-1{
    margin-right: 10px;
    font-size: 10px;
    align-items: center;
    display: flex;
    
    
}
.arg1-2{
    margin-left: 10px;
    font-size: 10px;
    color: rgb(103, 103, 103);;
}

.argprincipal{
    display:flex;
    justify-content: space-between;
}
.ul22{
    list-style-type: none;
    display: flex;
    font-weight: 100;
    
}
.a22{
    color: rgb(103, 103, 103);
    font-size: 10px;
    font-family: sans-serif;
}
.nikemenu{
    display: none;
}

.svg2{
    margin-right:10px ;
}

    @media(max-width:890px){
    .a1, .a11, .coleccionesextendido{display: none;
         
         
    }}
@media(max-width:890px){
    .nikemenu{
        display:inline-block;
        justify-content: center;
        align-items: center;
    }
}
.nikemenu .nikemenusvg:active{
    fill: rgb(0, 0, 0);
  
}
.menudesplegable{
    color: rgb(0, 0, 0);
    display: none;
    height: 615px;
    width: 310px;
    background-color: #000000;
    position: absolute;
    right: 0px;
    justify-content: center;
    
    
    
}
.activado{
    display: flex;
}
.buttonssi{
    padding: 6px 21px;
    background-color: rgb(255, 255, 255);
    border: none;
    border-radius: 40px;
    color: #000000;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.buttonssi2{
    padding: 6px 16px;
    background-color: rgb(0, 0, 0);
    border: 1px solid white;
    border-radius: 40px;
    color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    margin-left: 10px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    
}
.buttonssi:hover{
    background-color: #000000;
    color: #ffffff;
    border: 1px solid rgb(46, 46, 46);

}
.buttonssi2:hover{
    background-color: #ffffff;
    color: #000000;
    

}
.menudesplegable2{
    display: grid;
    grid-template-rows: 45% 55%;
margin-top: 15px;
    width: 290px;
    height: 580px;
    justify-content: space-between;
    align-items: center;
}
.colecciones{
    display: block;
    background-color: rgb(0, 0, 0);
    width: 290px;
    height: 100%;
}
.info{
    display: grid;
  
    grid-gap:100px;
    background-color: rgb(0, 0, 0);
    width: 290px;
    height: 100%;
    padding-left: 20px;
    padding-right: 20px;
    color: #ffffff;
    justify-content: space-between;



}
.jordan{
    display: flex;
    align-items: center;
    gap: 20px;
    
}
.pjordan{
    font-size: 15px;
   font-weight: 200;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
.miembro{
    display: grid;
    grid-gap: 20px;
    
    justify-content: space-between;
}
.miembrop{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    display: flex;
    justify-content: center;
    
    
    
}
.clickclose{
    display: flex;
    justify-content: end;
    
}
.clickclosepad{
    display: flex;
    width: 32px;
    height: 32px;
    background-color: #000000;
    border-radius: 100px;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease 0s;
    margin-right: 15px;
    margin-top: 5px;
    
   

}
.clickclosepad:hover{
    background-color: #b9b9b9;

}
.clickclose-icon{
    transition: all 0.3s ease 0s;
    
}
.clickclose-icon:hover{
    fill: rgb(84, 84, 84);
}